{% extends "::base.html.twig" %}

{% block stylesheets %} {{ parent() }} {% endblock%}

{% block body %}

    {% block header %}
        {{ parent() }}
    {% endblock header %}

    {% block wrapper %}

        <div class="container">

            <div class="row">

                <div class="col-md-3">
                    <div class="form" id="id-filter-form">
                        <div class="form-group">
                            <select id="predicate-id-filter" class="form-control">
                                <option value="=">equals</option>
                                <option value=">">greater than</option>
                                <option value="<">less than</option>
                            </select>
                            <input type="number" id="id-filter" class="form-control" placeholder="ID"/>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form">
                        <div class="form-group" id="content-filter-form">
                            <select id="predicate-content-filter" class="form-control">
                                <option value="like">like</option>
                                <option value="not like">not contains</option>
                            </select>
                            <input type="text" id="content-filter" class="form-control" placeholder="Content"/>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form">
                        <div class="form-group" id="score-filter-form">
                            <select id="predicate-score-filter" class="form-control">
                                <option value="like">like</option>
                                <option value="not like">not contains</option>
                            </select>
                            <input type="text" id="score-filter" class="form-control" placeholder="Score"/>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form">
                        <div class="form-group" id="total-score-filter-form">
                            <select id="predicate-total-score-filter" class="form-control">
                                <option value="=">equals</option>
                                <option value=">">greater than</option>
                                <option value="<">less than</option>
                            </select>
                            <input type="number" id="total-score-filter" class="form-control" placeholder="Total">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <button class="btn btn-danger pull-left" id="run-analysis-button">Run Analysis</button>
                </div>
                <div class="col-md-4 col-md-offset-4">
                    <button class="btn btn-primary pull-right" id="reset-filters-button">Reset Filters</button>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <table id="grid-data" class="table table-hover table-striped">

                        <thead>
                        <tr>
                            <th data-column-id="id" data-type="numeric"  data-header-css-class="idColumn">ID</th>
                            <th data-column-id="corpus" >Content</th>
                            <th data-column-id="scores" data-converter="scores" data-header-css-class="scoreColumn">Scores</th>
                            <th data-column-id="totalScore" data-header-css-class="totalScoreColumn">Total</th>
                            <th data-column-id="commands" data-formatter="actions" data-sortable="false" data-header-css-class="actionColumn">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

    {% endblock wrapper %}

{% endblock body %}
