<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %} Trivago Challenge #3{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets
        '@AnalyzerBundle/Resources/public/css/vendors/*'
        '@AnalyzerBundle/Resources/public/css/grid.css'
        '@AnalyzerBundle/Resources/public/fonts/*'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />

        {% endstylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block body %}

    {% block header %}


        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('grid_reviews') }}">Trivago Challenge #3</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reviews <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ path("new_review") }}">
                                        <span class="glyphicon glyphicon-plus-sign"></span> New review
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path("import_reviews") }}">
                                        <span class="glyphicon glyphicon-upload"></span> Import reviews
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-left">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Criteria <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ path("list_criteria") }}">
                                        <span class="glyphicon glyphicon-th-list"></span> List all criteria</a>
                                </li>
                                <li>
                                    <a href="{{ path("new_topic") }}">
                                        <span class="glyphicon glyphicon-plus-sign"></span> New topic
                                    </a>
                                </li>
                                <li><a href="{{ path("new_qualifier") }}">
                                        <span class="glyphicon glyphicon-plus-sign"></span> New qualifier
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

    {% endblock header %}

    {% block wrapper %}
    {% endblock wrapper %}

{% endblock body %}

{% block javascripts %}

    {% javascripts output="js/app.js"
    '@AnalyzerBundle/Resources/public/vendors/jquery-2.2.0.min.js'
    '@AnalyzerBundle/Resources/public/vendors/bootstrap.min.js'
    '@AnalyzerBundle/Resources/public/vendors/jquery.bootgrid.min.js'
    '@AnalyzerBundle/Resources/public/js/*' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}


{% endblock %}
</body>
</html>
