{% extends "::base.html.twig" %}

{% block title %} {{ parent() }} - New Qualifier {% endblock %}

{% block body %}

    {% block header %} {{ parent() }} {% endblock header %}

    {% block wrapper %}

        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <h3>New qualifier</h3>
                    {{ form_start(addQualifierForm) }}

                    {{ form_row(addQualifierForm.name) }}
                    {{ form_row(addQualifierForm.type) }}
                    {{ form_row(addQualifierForm.weight) }}
                    {{ form_row(addQualifierForm.save) }}

                    {{ form_end(addQualifierForm) }}
                </div>
            </div>
        </div>

    {% endblock wrapper %}

{% endblock body %}