{% extends "::base.html.twig" %}

{% block title %} {{ parent() }} - New Topic {% endblock %}

{% block body %}

    {% block header %} {{ parent() }} {% endblock header %}

    {% block wrapper %}

        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <h3>New topic</h3>
                    {{ form_start(addTopicForm) }}

                    {{ form_row(addTopicForm.mainKey) }}
                    {{ form_row(addTopicForm.name) }}
                    {{ form_row(addTopicForm.save) }}

                    {{ form_end(addTopicForm) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="alert alert-info" role="alert" style="text-align: center">
                        <span class="glyphicon glyphicon-question-sign"></span>
                        For create a new category you should set <b>"Category"</b> to <b>"None"</b>
                    </div>
                </div>
            </div>
        </div>
    {% endblock wrapper %}

{% endblock body %}