{% extends "::base.html.twig" %}

{% block title %} {{ parent() }} - List Criteria {% endblock %}


{% block body %}

    {% block header %} {{ parent() }} {% endblock header %}

    {% block wrapper %}
        <div class="container">
            <div class="row">
                <div class="col-md-6">

                    <div class="row">
                        <div class="col-md-12">
                            <h3>Topics</h3>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <table class="table table-hover table-striped">
                            <thead>
                            <tr>
                                <th>Category</th>
                                <th>Name</th>
                                <th>Creation Date</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for topic in topics %}

                                    {% if topic.mainKey == null %}

                                        <tr>
                                            <td colspan="3"> <b>{{ topic.name }}</b></td>
                                        </tr>

                                    {% else %}
                                        <tr>
                                            <td></td>
                                            <td>{{ topic.name }}</td>
                                            <td>{{ topic.creationDate | date}}</td>
                                        </tr>
                                    {% endif %}

                                {% else %}
                                    <tr>
                                        <td colspan="3">Not topics yet!</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="col-md-6">

                    <div class="row">
                        <div class="col-md-12">
                            <h3>Qualifiers</h3>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <table class="table table-hover table-striped">
                            <thead>
                            <tr>
                                <th>Category</th>
                                <th>Name</th>
                                <th>Weight</th>
                                <th>Creation Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for qualif in qualifiers %}
                                <tr>
                                    <td>{{ qualif.name }}</td>
                                    <td>{{ qualif.type }}</td>
                                    <td>{{ qualif.weight }}</td>
                                    <td>{{ qualif.creationDate | date }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="3">Not topics yet!</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
    {% endblock wrapper %}

{% endblock body %}