
/*
    Table reviews custom styles
*/

.idColumn {
    width: 50px;
}

.contentColumn{
    width: 400px;
}

.scoreColumn {
    width: 130px;
}

.totalScoreColumn {
    width: 80px;
}

.actionColumn {
    width: 100px;
}

td.text-left{
    white-space: inherit;
    vertical-align: middle!important;
}