{% extends "::base.html.twig" %}


{% block title %} {{ parent() }} - New Review {% endblock %}

{% block body %}

    {% block header %} {{ parent() }} {% endblock header %}

    {% block wrapper %}

        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h3>New review</h3>
                    {{ form_start(reviewForm) }}
                    {{  form_widget(reviewForm) }}
                    {{ form_end(reviewForm) }}
                </div>
            </div>
        </div>

    {% endblock wrapper %}


{% endblock body %}