{% extends "::base.html.twig" %}

{% block title %} {{ parent() }} - Import Reviews {% endblock %}

{% block body %}

    {% block header %} {{ parent() }} {% endblock header %}


    {% block wrapper %}


        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <h3>Import Reviews</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    {{ form_start(uploaderForm) }}
                    {{ form_widget(uploaderForm) }}
                    {{ form_end(uploaderForm) }}
                </div>

                <div class="col-md-8">

                    <div class="row">
                        <div class="col-md-12">
                            {% if reviews | length > 0%}
                                <div class="alert alert-info" role="alert">
                                    Included  {{ numNewReviews }} new review/s of {{ total }} found in this file.
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">

                            <table class="table table-hover table-striped">
                                <thead>
                                <tr>
                                    <th>Hotel ID</th>
                                    <th>Review</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for row in reviews %}
                                    <tr>
                                        <td style="min-width: 72px; max-width: 72px;  ">{{ row['HotelId'] }}</td>
                                        <td>{{ row['Review'] }}</td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="2">Not reviews loaded yet</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>
            </div>
        </div>







    {% endblock wrapper %}

{% endblock body %}
